default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost
  user: postgres
  password: password

# TEMPLATE_TODO: replace those db names with yours
# Example: lp_todo_development

development:
  <<: *default
  database: template_development

test: &test
  <<: *default
  database: template_test

production:
  <<: *default
  database: template_production
